[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = ">=2.0.0"
numpy = "*"
tqdm = "*"
requests = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.13"
